/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

:root {
    --barva-pozadi: #f5f5f5;
    --barva-dekorace: #afb17f;
    --barva-nadpis: #617e5b;
    --barva-stin: rgba(0, 0, 0, 0.4);
    --barva-pismo: #2d2619;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
    color: var(--barva-pismo);
}

.obal {
    max-width: 1200px;
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: var(--barva-pozadi);
    box-shadow: 0 0 20px var(--barva-stin);
    padding: 1rem 1.5rem 0 1.5rem;
}

.logo {
    min-height: 160px;
    background-image: url(obr/AN_logo_zmensene.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0 0 20px var(--barva-stin);
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    background-color: white;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--barva-pismo);
}

.navigace a {
    text-align: center;
    padding: 0.4rem 0.6rem;
    color: var(--barva-dekorace);
}

.navigace {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigace a:hover,
.navigace a:focus,
.kapitola a:hover,
.kapitola a:focus {
    color: var(--barva-nadpis);
    text-shadow: 2px 2px 5px var(--barva-stin);
}

.uvod {
    min-height: 180px;
    background-image: url(obr/Andulka_9110_orez_rouge.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 1rem -1.5rem 1rem -1.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.uvod p,
.uvod h1 {
    padding: 1rem 1.5rem 0 1.5rem;
    color: var(--barva-pozadi);
    text-shadow: 1px 1px var(--barva-stin);
}

h1, h2, h3 {
    color: var(--barva-nadpis);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.paticka {
    background-color: var(--barva-nadpis);
    color: var(--barva-pozadi);
    text-align: center;
    box-shadow: 0 0 20px var(--barva-stin);
    margin: 1rem -1.5rem 0 -1.5rem;
}

.paticka p {
    padding: 0.2rem;
    margin: 0;
}

h2 {
    position: relative;
    padding: 2rem 0 1rem 0;
}
h2::after {
    content:"";
    width: 100px;
    border-bottom: 1.6px solid var(--barva-dekorace);
    display: inline-block;
    position: absolute;
    left: -4.5rem; 
    bottom: 0;
}

.terapie-foto-text {
display: flex;
flex-direction: row-reverse;
}

.terapie-foto {
    margin-left: 3rem;
    margin-right: -4rem;
    }
/*
    vyresit obtekani textu!!!
    */

    
@media screen and (min-width:
 420px)
{.uvod {
    min-height: 300px;
    margin: 1rem -2.5rem 1rem -2.5rem;
}

body {
    font-size: 1rem;
}

.obal {
    padding: 1rem 2.5rem 0 2.5rem;
}

.logo {
    min-height: 160px;
    margin: -1.5rem -2.5rem 1rem -2.5rem;
}
.paticka {
    margin: 1rem -2.5rem 0 -2.5rem;
}

.uvod p,
.uvod h1 {
    padding: 1rem 2.5rem 0 2.5rem;
}

.uvod h1 {
    font-size: 1.8rem; 
}
}


@media screen and (min-width: 680px)
{.uvod {
    min-height: 400px;
}

.uvod p {
    font-size: 1.2rem; 
}

.uvod h1 {
    font-size: 2rem; 
}

}

@media screen and (min-width: 800px)
{.uvod {
    min-height: 500px;
    margin: 1rem -4.5rem 1rem -4.5rem;
}


.obal {
    padding: 1rem 4.5rem 0 4.5rem;
}

.logo {
    min-height: 180px;
    margin: -1.5rem -4.5rem 1rem -4.5rem;
}
.paticka {
    margin: 1rem -4.5rem 0 -4.5rem;
}

.uvod p,
.uvod h1 {
    padding: 1rem 4.5rem 0 4.5rem;
}

.uvod p {
    font-size: 1.5rem; 
}

.uvod h1 {
    font-size: 2.5rem; 
}

}